@{
    ViewData["Title"] = "AccessDenied";
}

  <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="display-3">Giriş Yetkiniz Yok</h1>
        <p class="lead">Bu sayfayı görüntüleme izniniz bulunmamaktadır.</p>
    </div>
</div>

 
  
