@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Asaf Ticaret</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/ui/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/ui/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/ui/assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/ui/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="~/ui/assets/css/lightbox.css">